.div-numbers{font-size: 20px;
    display: inline-block;
border: solid 2px;
border-color: blue;
height: 800px;

}

.numbers{
    font-size:50px ;
    border: solid ;
    border-color: red;
    display: inline-block;
    margin: 30px 10px;
    
}
.numeriPescati{
    background-color: gray;

}